In [1]:
import pandas as pd
from mining_functions import city_scrape, push_cities

## Define City Names

Insert those city names where Gans operates

In [15]:
city_names = ["Berlin", "Hamburg", "Munich", "Paris", "Leipzig", "Halle (Saale)", "Dresden", "Chemnitz", "Cologne", "Bremen"] # , "Dresden", "Chemnitz", "Bremen", "Cologne"

In [16]:
cities_df = city_scrape(city_names)
cities_df

       city_name  country  longitude   latitude
0         Berlin  Germany  13.405000  52.520000
1        Hamburg  Germany  10.000000  53.550000
2         Munich  Germany  11.575000  48.137500
3          Paris   France   2.352222  48.856667
4        Leipzig  Germany  12.375000  51.340000
5  Halle (Saale)  Germany  11.969722  51.482778
6        Dresden  Germany  13.740000  51.050000
7       Chemnitz  Germany  12.916667  50.833333
8        Cologne  Germany   6.952778  50.936389
9         Bremen  Germany   8.807222  53.075833

Push data to SQL:

In [17]:
push_cities(cities_df)

cities table successfully updated